<div class="container">
  <h1>Cadastros</h1>
  <%= link_to "Novo cadastro",  new_citizen_path %>
  <div>
    <% @citizens.each do |citizen| %>
      <li> 
        <%= citizen.full_name %>
        <p>CPF: <%= citizen.cpf %></p>
        <p>CNS: <%= citizen.cns %></p>
        <p>E-mail: <%= citizen.email %></p>
        <p>Data de Nascimento: <%= citizen.birthdate %></p>
        <p>Telefone: <%= citizen.phone %></p>
        <%= link_to 'Edit', edit_citizen_path(citizen) %>
      </li>
    <% end %>
  </div>
</div>

